.image-hotspots {
	position: relative;
}

.image-hotspots-controls {
	margin: 0 0 15px;
}

.image-hotspots__image {
	display: block;
	width: 100%;
	height: auto;
}

.image-hotspots-pin-controls {
	margin: 15px 0 0;
}

.image-hotspots__pin {
	cursor: move;
	display: block;
	position: absolute;

	width: 24px;
	height: 24px;
	margin-top: -12px;
	margin-left: -12px;

	border-radius: 50%;
	background-color: #54b847;

	color: #fff;
	font-size: 12px;
	line-height: 24px;
	text-align: center;

	opacity: .75;
	transition: opacity 0.25s;
}

.image-hotspots__pin:hover {
	opacity: 1;
}